# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
* (Expression)

'hello' (Value)

-87.8 (Value)

- (Expression)

/ (Expression)

+ (Expression)

6 (Value)

# 2. What is the difference between string and variable?

In [ ]:
• String: String is a type of data, which basically is a character or collection of characters or words and 
    are represented enclosed in double or single quotes. 
    Example: “Hello”, ‘World’, etc.
    
• Variable:  Variables are symbols, character or words, that are used to store data. 
    Example: a = 10, where ‘a’ is the variable that contains value ‘10’.

# 3. Describe three different data types.

In [ ]:
• Integer: All the numeric characters, both positive and negative whole numbers comes under Integer Data type, 
    except fractional and decimals. It is represented as ‘int’. 
    Example: 21, -14, 95, -123, etc.

• String:  String is a type of data, which basically is a character or collection of characters or words and 
    are represented enclosed in double or single quotes. It is represented as ‘str’. 
    Example: “Hello”, ‘World’, etc.

• Boolean: Data type with one of the two built-in-values, ‘True’ or ‘False’. It is represented as ‘bool’.

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
• Expression:  An expression is a combination of operators and operands that perform a task to produce some other value, 
    such as, variable assignment and then mathematical operations or computations.
    In any programming language, an expression is evaluated as per the precedence of its operators. 
    If there is more than one operator in an expression, their precedence decides which operator will be performed first. 
• Example: 
        ◦ a= 10
        ◦ b = 20
        ◦ a + b * 5 (Expression)

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
• “spam = 10” is an assignment statement, as statements do no perform a mathematical computations. 
    Statements assign values to a variable.
• While, expression performs a mathematical computations, 
    which are performed with the help of operators, such as, +, -, *, /

# 6. After running the following code, what does the variable bacon contain?

In [14]:
bacon = 22
bacon + 1

23

# 7. What should the values of the following two terms be?

In [15]:
'spam' + 'spamspam'

'spamspamspam'

In [16]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
In Python, Variable name must start with a letter or the underscore character and it cannot start with a number. 
This is why ‘eggs’ is a valid variable, while ‘100’ is invalid.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int(),float(),str()

In [17]:
a = 10.2354654
int(a)

10

In [18]:
float(a)

10.2354654

In [19]:
str(a)

'10.2354654'

# 10. Why does this expression cause an error? How can you fix it?

In [20]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [21]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [22]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'